# ---------------------
# Ignorar archivos de sistema y temporales
# ---------------------
.DS_Store
Thumbs.db
*.log

# ---------------------
# Laravel (backend)
# ---------------------
/backend/vendor/
/backend/node_modules/       # Si por alguna razón hubiese dependencias de Node en backend
/backend/.env
/backend/storage/*
!/backend/storage/.gitignore
# Permitir carpetas por defecto de mods en storage
!/backend/storage/app/
!/backend/storage/app/public/
!/backend/storage/app/public/.gitignore
!/backend/storage/app/public/defaults/
!/backend/storage/app/public/defaults/**
!/backend/storage/app/public/mods/
!/backend/storage/app/public/mods/.gitkeep
!/backend/storage/app/public/users/
!/backend/storage/app/public/users/.gitkeep

# ---------------------
# React (frontend)
# ---------------------
/frontend/node_modules/
/frontend/build/
/frontend/.env

# ---------------------
# Archivos de Docker que NO deben ignorarse (se versionan)
# ---------------------
!Dockerfile
!**/Dockerfile
!docker-compose.yml

# ---------------------
# Otros archivos de configuración temporales de Docker
# ---------------------
docker-compose.override.yml
